{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!--med_tittle_section-->
    <div class="med_tittle_section">
        <div class="med_img_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="med_tittle_cont_wrapper">
                        <div class="med_tittle_cont">
                            <h1>about us </h1>
                            <ol class="breadcrumb">
                                <li><a href="/index">Home</a>
                                </li>
                                <li>about us</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- med_tittle_section End -->
    <!--about us section start-->
    <div class="about_us_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="about_img">
                        <img src="{% static images '/about_us_bg.jpg' %}" alt="img" class="img-responsive">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 med_toppadder70">
                    <div class="abt_heading_wrapper abt_2_heading">
                        <h1 class="med_bottompadder20">about medical</h1>
                        <img src="{% static images '/line.png' %}" alt="title" class="med_bottompadder20">
                    </div>
                    <div class="abt_txt">
                        <h3>Specialty Medicine with Compassion and Car Proin gravida nibh vel velit</h3>
                        <p class="med_toppadder20">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, aks lorem quis bibendum auctor, nisi el ipsum, nec sagittis sem nibh id elit. Dui Duis sed odiit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate..</p>
                    </div>
                    <div class="abt_chk med_toppadder30">
                        <div class="content">
                            <ul>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i><span>Health Care For All Types</span>
                                </li>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i><span>Emergency Services</span>
                                </li>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i><span>Dental Care Dentist.</span>
                                </li>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i><span>24/7 Services</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="abt_heading_wrapper abt_2_heading_mn">
                        <h1 class="med_bottompadder20">our mission </h1>
                        <img src="{% static images '/line.png' %}" alt="title" class="med_bottompadder20">
                    </div>
                    <div class="abt_txt">
                        <p class="med_toppadder20">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, aks lorem quis bibendum auctoruis sed odio sit amet nibh vulputate..</p>
                        <p class="med_toppadder10">Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum ipsum, nec sagittis sem nibh id elit. Dui Duis sed odi consequat ipsum, nec sagittis sem nibh id elit. Dui Duis sed odio sit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--about us section end-->
    <!-- counter wrapper start-->
    <div class="counter_section">
        <div class="counter_overlay">
            <section class="counter-section section-padding" data-stellar-background-ratio="0.5">
                <div class="container text-center">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                            <div class="icon">
                                <a href=""><img src="{% static images '/png/patient.png' %}" alt="img" class="img-responsive">
                                </a>
                            </div>
                            <div class="count-description">
                                <span class="timer">2340</span>
                                <h5 class="con1">Satisfied Patients</h5>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                            <div class="icon">
                                <a href=""><img src="{% static images '/png/doctor.png' %}" alt="img" class="img-responsive">
                                </a>
                            </div>
                            <div class="count-description">
                                <span class="timer">335</span>
                                <h5 class="con2">doctor's team</h5>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                            <div class="icon">
                                <a href=""><img src="{% static images '/png/success.png' %}" alt="img" class="img-responsive">
                                </a>
                            </div>
                            <div class="count-description">
                                <span class="timer">1305</span>
                                <h5 class="con2">success mission</h5>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                            <div class="icon">
                                <a href=""><img src="{% static images '/png/heart.png' %}" alt="img" class="img-responsive">
                                </a>
                            </div>
                            <div class="count-description">
                                <span class="timer">1540</span>
                                <h5 class="con4">Successfull Surgeries</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- counter wrapper end-->
    <!-- abt service wrapper start-->
    <div class="abt_service_section med_toppadder100">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 col-lg-offset-2">
                    <div class="team_heading_wrapper med_bottompadder50">
                        <h1 class="med_bottompadder20">we give you the best </h1>
                        <img src="{% static images '/Icon_team.png' %}" alt="line" class="med_bottompadder20">
                        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
                            <br> nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate.</p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="abt_left_section med_bottompadder20">
                        <img src="{% static images '/abt_img_bg.jpg' %}" alt="img" class="img-responsive">
                    </div>
                    <div class="abt_txt">
                        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, aks lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate..</p>
                        <p class="med_toppadder10">Aenea nit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio s sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Dui Duis sed odio sit.</p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="sidebar_wrapper sidebar_right_abt">
                        <div class="accordionFifteen">
                            <div class="panel-group" id="accordionFifteenLeft" role="tablist">
                                <div class="panel panel-default sidebar_pannel">
                                    <div class="panel-heading desktop">
                                        <h4 class="panel-title">
											s		<a class="collapsed active" data-toggle="collapse" href="#collapseEightLeftone" aria-expanded="false">- Global Health Specialists</a>
												</h4>
                                    </div>
                                    <div id="collapseEightLeftone" class="panel-collapse collapse show" data-parent="#accordionFifteenLeft" aria-expanded="true" role="tabpanel">
                                        <div class="panel-body">
                                            <div class="panel_cont">
                                                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, aks lorem quis bibendum auctor, nisi elit c nibh vulputate..</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.panel-default -->
                                <div class="panel panel-default sidebar_pannel">
                                    <div class="panel-heading horn">
                                        <h4 class="panel-title">
													<a class="collapsed" data-toggle="collapse" href="#collapseEightLefttwo" aria-expanded="false">- Who has access to my Health Records</a>
												</h4>
                                    </div>
                                    <div id="collapseEightLefttwo" class="panel-collapse collapse" data-parent="#accordionFifteenLeft" aria-expanded="false" style="height: 0px;" role="tabpanel">
                                        <div class="panel-body">
                                            <div class="panel_cont">
                                                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, aks lorem quis bibendum auctor, nisi elit c nibh vulputate..</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.panel-default -->
                                <div class="panel panel-default sidebar_pannel">
                                    <div class="panel-heading bell">
                                        <h4 class="panel-title">
													<a class="collapsed" data-toggle="collapse" href="#collapseEightLeftthree" aria-expanded="false">- Obstetrices & Gynecology Hospital</a>
												</h4>
                                    </div>
                                    <div id="collapseEightLeftthree" class="panel-collapse collapse " data-parent="#accordionFifteenLeft" aria-expanded="false" style="height: 0px;" role="tabpanel">
                                        <div class="panel-body">
                                            <div class="panel_cont">
                                                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, aks lorem quis bibendum auctor, nisi elit c nibh vulputate..</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.panel-default -->
                                <div class="panel panel-default sidebar_pannel">
                                    <div class="panel-heading bell">
                                        <h4 class="panel-title">
													<a class="collapsed" data-toggle="collapse" href="#collapseEightLeftfour" aria-expanded="false">- Obstetrices & Gynecology Hospital</a>
												</h4>
                                    </div>
                                    <div id="collapseEightLeftfour" class="panel-collapse collapse" data-parent="#accordionFifteenLeft" aria-expanded="false" style="height: 0px;" role="tabpanel">
                                        <div class="panel-body">
                                            <div class="panel_cont">
                                                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, aks lorem quis bibendum auctor, nisi elit c nibh vulputate..</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.panel-default -->
                                <div class="panel panel-default sidebar_pannel">
                                    <div class="panel-heading bell">
                                        <h4 class="panel-title">
													<a class="collapsed" data-toggle="collapse" href="#collapseEightLeftfive" aria-expanded="false">- Oral & Maxillofacial Surgery in hosiptal </a>
												</h4>
                                    </div>
                                    <div id="collapseEightLeftfive" class="panel-collapse collapse" data-parent="#accordionFifteenLeft" aria-expanded="false" style="height: 0px;" role="tabpanel">
                                        <div class="panel-body">
                                            <div class="panel_cont">
                                                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, aks lorem quis bibendum auctor, nisi elit c nibh vulputate..</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.panel-default -->
                                <div class="panel panel-default sidebar_pannel">
                                    <div class="panel-heading bell">
                                        <h4 class="panel-title">
													<a class="collapsed" data-toggle="collapse" href="#collapseEightLeftsix" aria-expanded="false">- Obstetrices & Gynecology Hospital</a>
												</h4>
                                    </div>
                                    <div id="collapseEightLeftsix" class="panel-collapse collapse" data-parent="#accordionFifteenLeft" aria-expanded="false" style="height: 0px;" role="tabpanel">
                                        <div class="panel-body">
                                            <div class="panel_cont">
                                                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, aks lorem quis bibendum auctor, nisi elit c nibh vulputate..</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.panel-default -->
                            </div>
                            <!--end of /.panel-group-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- abt service wrapper end-->
    <!--top service wrapper start-->
    <!-- counter wrapper start-->
    <div class="top_service_wrapper">
        <div class="top_serv_overlay">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 col-lg-offset-2">
                        <div class="team_heading_wrapper med_bottompadder50 wow fadeInDown" data-wow-delay="0.3s">
                            <h1 class="med_bottompadder20">We provide top services</h1>
                            <img src="{% static images '/Icon_team.png' %}" alt="line" class="med_bottompadder20">
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                        <div class="cat_about top_serv_txt">
                            <div class="icon_wrapper">
                                <img src="{% static images '/icon1.png' %}" alt="img" class="img-responsive">
                            </div>
                            <div class="cat_img">
                                <img src="{% static images '/icon_11.png' %}" alt="img" class="img-responsive">
                            </div>
                            <div class="cat_txt">
                                <h1>Heart Surgery</h1>
                                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin at the good health for you.</p>
                                <a href="#">Read More <i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                        <div class="cat_about top_serv_txt">
                            <div class="icon_wrapper">
                                <img src="{% static images '/icon2.png' %}" alt="img" class="img-responsive">
                            </div>
                            <div class="cat_img">
                                <img src="{% static images '/icon_2.png' %}" alt="img" class="img-responsive">
                            </div>
                            <div class="cat_txt">
                                <h1>Emergency Care</h1>
                                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin at the good health for you.</p>
                                <a href="#">Read More <i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                        <div class="cat_about top_serv_txt">
                            <div class="icon_wrapper">
                                <img src="{% static images '/icon3.png' %}" alt="img" class="img-responsive">
                            </div>
                            <div class="cat_img cat_img_3">
                                <img src="{% static images '/icon_3.png' %}" alt="img" class="img-responsive">
                            </div>
                            <div class="cat_txt">
                                <h1>Dental Care</h1>
                                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin at the good health for you.</p>
                                <a href="#">Read More <i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- top service wrapper end-->
    <!--event wrapper start-->
    <div class="event_wrapper med_toppadder100 med_bottompadder70">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="choose_heading_wrapper">
                        <h1 class="med_bottompadder20">Upcoming Events</h1>
                        <img src="{% static images '/line.png' %}" alt="title" class="med_bottompadder60">
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="event_slider_wrapper">
                        <div class="owl-carousel owl-theme">
                            <div class="item">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                        <div class="img_section d-none d-sm-none d-md-none d-lg-block">
                                            <div class="icon_wrapper_event">
                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                            </div>
                                            <div class="img_wrapper1">

                                                <img src="{% static images '/event_1.jpg' %}" alt="img" class="img-responsive">
                                            </div>
                                            <div class="event_icon1">
                                                <h2><a href="#">Together we can do so much</a></h2>
                                                <ul>
                                                    <li><a href=""><i class="fa fa-map-marker" aria-hidden="true"></i>
													California,UK</a>
                                                    </li>
                                                    <li><i class="fa fa-calendar-o" aria-hidden="true"></i>24 Nov, 2020</li>
                                                </ul>
                                                <p>Proin gravida nibh vel velit auctor aliuet. Aenean sollicitudin, aks lorem quis aks bibendum auctor.</p>
                                            </div>
                                        </div>
                                        <div class="img_section">
                                            <div class="icon_wrapper_event">
                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                            </div>
                                            <div class="img_wrapper1">
                                                <img src="{% static images '/event_2.jpg' %}" alt="img" class="img-responsive">
                                            </div>
                                            <div class="event_icon1">
                                                <h2><a href="#">Together we can do so much</a></h2>
                                                <ul>
                                                    <li><a href=""><i class="fa fa-map-marker" aria-hidden="true"></i>California,UK</a>
                                                    </li>
                                                    <li><i class="fa fa-calendar-o" aria-hidden="true"></i>24 Nov, 2020</li>

                                                </ul>
                                                <p>Proin gravida nibh vel velit auctor aliuet. Aenean sollicitudin, aks lorem quis aks bibendum auctor.</p>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                        <div class="img_section d-none d-sm-none d-md-none d-lg-block">
                                            <div class="icon_wrapper_event">
                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                            </div>
                                            <div class="img_wrapper1">
                                                <img src="{% static images '/event_3.jpg' %}" alt="img" class="img-responsive">
                                            </div>
                                            <div class="event_icon1">
                                                <h2><a href="#">Together we can do so much</a></h2>
                                                <ul>
                                                    <li><a href=""><i class="fa fa-map-marker" aria-hidden="true"></i>California,UK</a>
                                                    </li>
                                                    <li><i class="fa fa-calendar-o" aria-hidden="true"></i>24 Nov, 2020</li>
                                                </ul>
                                                <p>Proin gravida nibh vel velit auctor aliuet. Aenean sollicitudin, aks lorem quis aks bibendum auctor.</p>
                                            </div>
                                        </div>
                                        <div class="img_section d-none d-sm-none d-md-none d-lg-block">
                                            <div class="icon_wrapper_event">
                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                            </div>
                                            <div class="img_wrapper1">
                                                <img src="{% static images '/event_4.jpg' %}" alt="img" class="img-responsive">
                                            </div>
                                            <div class="event_icon1">
                                                <h2><a href="#">Together we can do so much</a></h2>
                                                <ul>
                                                    <li><a href=""><i class="fa fa-map-marker" aria-hidden="true"></i>California,UK</a>
                                                    </li>
                                                    <li><i class="fa fa-calendar-o" aria-hidden="true"></i>24 Nov, 2020</li>
                                                </ul>
                                                <p>Proin gravida nibh vel velit auctor aliuet. Aenean sollicitudin, aks lorem quis aks bibendum auctor.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                        <div class="img_section">
                                            <div class="icon_wrapper_event">
                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                            </div>
                                            <div class="img_wrapper1">
                                                <img src="{% static images '/event_1.jpg' %}" alt="img" class="img-responsive">
                                            </div>
                                            <div class="event_icon1">
                                                <h2><a href="#">Together we can do so much</a></h2>
                                                <ul>
                                                    <li><a href=""><i class="fa fa-map-marker" aria-hidden="true"></i>California,UK</a>
                                                    </li>
                                                    <li><i class="fa fa-calendar-o" aria-hidden="true"></i>24 Nov, 2020</li>
                                                </ul>
                                                <p>Proin gravida nibh vel velit auctor aliuet. Aenean sollicitudin, aks lorem quis aks bibendum auctor.</p>
                                            </div>
                                        </div>
                                        <div class="img_section d-none d-sm-none d-md-none d-lg-block">
                                            <div class="icon_wrapper_event">
                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                            </div>
                                            <div class="img_wrapper1">
                                                <img src="{% static images '/event_2.jpg' %}" alt="img" class="img-responsive">
                                            </div>
                                            <div class="event_icon1">
                                                <h2><a href="#">Together we can do so much</a></h2>
                                                <ul>
                                                    <li><a href=""><i class="fa fa-map-marker" aria-hidden="true"></i>California,UK</a>
                                                    </li>
                                                    <li><i class="fa fa-calendar-o" aria-hidden="true"></i>24 Nov, 2020</li>
                                                </ul>
                                                <p>Proin gravida nibh vel velit auctor aliuet. Aenean sollicitudin, aks lorem quis aks bibendum auctor.</p>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                        <div class="img_section d-none d-sm-none d-md-none d-lg-block">
                                            <div class="icon_wrapper_event">
                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                            </div>
                                            <div class="img_wrapper1">
                                                <img src="{% static images '/event_3.jpg' %}" alt="img" class="img-responsive">
                                            </div>
                                            <div class="event_icon1">
                                                <h2><a href="#">Together we can do so much</a></h2>
                                                <ul>
                                                    <li><a href=""><i class="fa fa-map-marker" aria-hidden="true"></i>California,UK</a>
                                                    </li>
                                                    <li><i class="fa fa-calendar-o" aria-hidden="true"></i>24 Nov, 2017</li>
                                                </ul>
                                                <p>Proin gravida nibh vel velit auctor aliuet. Aenean sollicitudin, aks lorem quis aks bibendum auctor.</p>
                                            </div>
                                        </div>
                                        <div class="img_section d-none d-sm-none d-md-none d-lg-block">
                                            <div class="icon_wrapper_event">
                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                            </div>
                                            <div class="img_wrapper1">
                                                <img src="{% static images '/event_4.jpg' %}" alt="img" class="img-responsive">
                                            </div>
                                            <div class="event_icon1">
                                                <h2><a href="#">Together we can do so much</a></h2>
                                                <ul>
                                                    <li><a href=""><i class="fa fa-map-marker" aria-hidden="true"></i>California,UK</a>
                                                    </li>
                                                    <li><i class="fa fa-calendar-o" aria-hidden="true"></i>24 Nov, 2020</li>
                                                </ul>
                                                <p>Proin gravida nibh vel velit auctor aliuet. Aenean sollicitudin, aks lorem quis aks bibendum auctor.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- event wrapper end-->
    <!--testimonial wrapper start-->
    <div class="testimonial_wrapper med_toppadder100">
        <div class="test_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="test_heading_wrapper">
                        <h1 class="med_bottompadder20">What Patients Are Saying</h1>
                        <img src="{% static images '/line.png' %}" alt="title" class="med_bottompadder60">
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="test_slider_wrapper">
                        <div class="owl-carousel owl-theme">
                            <div class="item">
                                <div class="t_icon_wrapper">
                                    <div class="t_client_cont_wrapper2">
                                        <p>“ Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat. ”</p>
                                        <div class="client_img_abt">
                                            <img class="img-circle" src="{% static images '/test_img_1.png' %}" alt="img" style="width:90px;height:90px;">
                                            <h5>- Aditi Suryavanshi</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="t_icon_wrapper">
                                    <div class="t_client_cont_wrapper2">
                                        <p>“ Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat. ”</p>
                                        <div class="client_img_abt">
                                            <img class="img-circle" src="{% static images '/test_img_1.png' %}" alt="img" style="width:90px;height:90px;">
                                            <h5>- Aditi Suryavanshi</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="t_icon_wrapper">
                                    <div class="t_client_cont_wrapper2">
                                        <p>“ Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat. ”</p>
                                        <div class="client_img_abt">
                                            <img class="img-circle" src="{% static images '/test_img_1.png' %}" alt="img" style="width:90px;height:90px;">
                                            <h5>- Aditi Suryavanshi</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- testimonial wrapper end-->
    <!--partner wrapper start-->
    <div class="partner_wrapper med_bottompadder80 med_toppadder80">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="partner_slider_img">
                        <div class="owl-carousel owl-theme">
                            <div class="item">
                                <img src="{% static images '/partner_1.png' %}" class="img-responsive" alt="story_img">
                            </div>
                            <div class="item">
                                <img src="{% static images '/partner_2.png' %}" class="img-responsive" alt="story_img">
                            </div>
                            <div class="item">
                                <img src="{% static images '/partner_3.png' %}" class="img-responsive" alt="story_img">
                            </div>
                            <div class="item">
                                <img src="{% static images '/partner_4.png' %}" class="img-responsive" alt="story_img">
                            </div>
                            <div class="item">
                                <img src="{% static images '/partner_5.png' %}" class="img-responsive" alt="story_img">
                            </div>
                            <div class="item">
                                <img src="{% static images '/partner_6.png' %}" class="img-responsive" alt="story_img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--partner wrapper end-->
    <!--news wrapper start-->
    <div class="newsletter_wrapper med_toppadder80 med_bottompadder70">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 col-12">
                    <div class="newsletter_text wow fadeOut" data-wow-delay="0.5s">
                        <h3>Your First Step Towards Oral Health For Life Starts Here :</h3>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-6 col-6">
                    <div class="contect_btn_news">
                        <ul>
                            <li><a href="#">Enquiry</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--news wrapper end-->
    
    {% endblock %}