{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!--header wrapper end-->
    <!--med_tittle_section-->
    <div class="med_tittle_section">
        <div class="med_img_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="med_tittle_cont_wrapper">
                        <div class="med_tittle_cont">
                            <h1>Blogs</h1>
                            <ol class="breadcrumb">
                                <li><a href="/">Home</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- med_tittle_section End -->
    <!--blog category section start-->
    <div class="blog_section med_toppadder100 med_bottompadder100">
        <div class="container">

            <div class="blog_category_main_wrapper">
                <div class="row">
                    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="row">
                            
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 med_toppadder50">
                                <div class="blog_single_comment_heading_wrapper med_bottompadder50">
                                    <div class="team_heading_wrapper">
                                        <h1 class="med_bottompadder20">Melanoma Disease</h1>
                                        
                                    </div>
                                </div>
                           
                                <div class="comment_box_blog">
                                    <div class="blog_comment1_wrapper">
                                        <div class="blog_comment1_img">
                                            <img style="border-radius:10px ;" src="" alt="comment_img" class="img-responsive">
                                        </div>
                                        
                                        <div class="blog_comment1_cont">
                                            <a target="_blank" href="https://news.google.com">This Will be the title</a>
                                            <p><span>Posted:</span>
                                            </p>
                                            <p></p>
                                        </div>
                                    </div>
                                    
                                </div>
                            
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!--blog section end-->
    <!--news wrapper start-->
    
    <!--news wrapper end-->
    <!-- footer wrapper start-->
    
            {% endblock %}