{% extends 'base.html' %}
{% load static %}

{% block content %}




    <!--med_tittle_section-->
    <div class="med_tittle_section">
        <div class="med_img_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="med_tittle_cont_wrapper">
                        <div class="med_tittle_cont">
                            <h1>CHANGE PASSWORD </h1>
                            <ol class="breadcrumb">
                                <li><a href="/">Home</a>
                                </li>
                                <li>Chnage Password</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- med_tittle_section End -->

    <div class="login_wrapper_top float_left">
        <div class="login_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="login_tab_top_wrap float_left">
                        <div class="btn_log">
                            <a href="#">Change Password </a>
                        </div>

                        <div class="login_wrapper  float_left">
                            <form method="post">
                                {% csrf_token %}
                                

                                <div class="formsix-e">
                                    <div class="form-group i-password">
                                        <input type="password" class="form-control" required="" id ="id_old_password" name="old_password" placeholder="Old Password *">
                                    </div>
                                </div>

                                <div class="formsix-e">
                                    <div class="form-group i-password">
                                        <input type="password" class="form-control" required="" id ="id_new_password1" name="new_password1" placeholder="New Password *">
                                    </div>
                                </div>

                                <div class="formsix-e">
                                    <div class="form-group i-password">
                                        <input type="password" class="form-control" required="" id ="id_new_password2" name="new_password2" placeholder="Confirm New Password *">
                                    </div>
                                </div>

                               
                                {% for field in form %}
                                {% for error in field.errors %}
                                <p style="color: red;">{{ error }}</p>
                                {% endfor %}
                                {% endfor %}
                               
                                <div class="header_btn inner_btn login_btn log float_lef justify-content-center">
                                    <div class="response"></div>
                                    <div class="contact_btn_wrapper med_toppadder30">
                                        <button type="submit" class="submitForm">Change Password</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   

{% endblock %}