{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!--slider wrapper start-->
    <div class="slider_main_wrapper">
        <div class="cc_slider_img_section">
            <div class="owl-carousel owl-theme">
                <div class="item cc_main_slide1">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-8 col-lg-7 col-md-12 col-sm-12 col-12">
                                <div class="cc_slider_cont1_wrapper">
                                    <div class="cc_slider_cont1">
                                        <div class="medi">
                                            <h1 data-animation-in="fadeInDown" data-animation-out="animate-out fadeOutDown">Skin Problems<span>Services</span></h1></div>
                                        <h2 data-animation-in="fadeInDown" data-animation-out="animate-out fadeOutDown">Total care solution</h2>
                                        <p data-animation-in="zoomIn" data-animation-out="animate-out zoomIn"><p style="color: #2ec8a6;">Provide the Facilty to complete check your skins cancer problems and make appontment with doctors</p>
                                        <ul>
                                            
                                            <li data-animation-in="bounceInLeft" data-animation-out="animate-out bounceOutLeft" style="text-align: center;"><a href="/services">Get Your Services</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>

    <!--news wrapper start-->
    <div class="newsletter_wrapper med_toppadder80 med_bottompadder70">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 col-12">
                    <div class="newsletter_text wow fadeOut" data-wow-delay="0.5s">
                        <h3>Your First Step Towards Oral Health For Life Starts Here :</h3>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-6 col-6">
                    <div class="contect_btn_news">
                        <ul>
                            <li><a href="#">Enquiry</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--news wrapper end-->
    {% endblock %}
   -