{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!--med_tittle_section-->
    <div class="med_tittle_section">
        <div class="med_img_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="med_tittle_cont_wrapper">
                        <div class="med_tittle_cont">
                            <h1>Our Services</h1>
                            <ol class="breadcrumb">
                                <li><a href="index.html">Home</a></li>
                                <li>Services</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- med_tittle_section End -->
    <!--service section start-->
    <div class="container">
        <div class="row">
            <div class="card" style="width: 18rem; margin: 10px;">
                <img class="card-img-top" style="height: 180px; width: 286px;" src="{% static 'images/logo.png' %}" alt="Card image cap">
                <div class="card-body">
                  <p class="card-title"><b>Card title</b></p>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
              </div>
        </div>
    </div>
    <!--service section end-->
    <!--ser_abt section start-->
    <!-- <div class="ser_abt">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="ser_abt_img_resp">
                        <img src="{% static 'images/service_abt.jpg' %}" alt="img" class="img-responsive">
                    </div>
                </div>
                <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 col-12 abt_section">
                    <div class="abt_txt abt_txt_resp">
                        <h3>Specialty Medicine with Compassion and Car Proin gravida nibh vel velit</h3>
                        <p class="med_toppadder20">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, aks lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate..</p>
                        <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. aks lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit.</p>
                    </div>
                    <div class="abt_chk med_toppadder30">
                        <div class="content">
                            <ul>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i><span>Health Care For All Types</span></li>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i><span>Emergency Services</span></li>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i><span>Cancer Care </span></li>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i><span>speciality medicines for all types</span></li>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i><span>Dental Care best dentist</span></li>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i><span>dalvictisdss Care best dentist</span></li>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i><span>doctors services </span></li>
                                <li><i class="fa fa-check-square-o" aria-hidden="true"></i><span>24/7 Services</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!--ser_abt section end-->
    <!--ser_blog section start-->
    <div class="blog_wrapper med_toppadder100 med_bottompadder90">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 col-lg-offset-2">
                    <div class="team_heading_wrapper med_bottompadder50 wow fadeInDown" data-wow-delay="0.3s">
                        <h1 style="background-color: #5553B7; padding : 10px; color: white;border-radius: 10px;" class="med_bottompadder20">top services</h1>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="card" style="width: 18rem; margin: 10px;">
                            <img class="card-img-top" style="height: 180px; width: 286px;" src="{% static 'images/logo.png' %}" alt="Card image cap">
                            <div class="card-body">
                              <p class="card-title"><b>Card title</b></p>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                            </div>
                          </div>
                          
                        <div class="card" style="width: 18rem; margin: 10px;">
                            <img class="card-img-top" style="height: 180px; width: 286px;" src="{% static 'images/logo.png' %}" alt="Card image cap">
                            <div class="card-body">
                              <p class="card-title"><b>Card title</b></p>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                            </div>
                          </div>
                    </div>
                </div>
                <!-- <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="blog_about blog_resp wow SlideInLeft" data-wow-delay="0.4s">
                        <div class="blog_img blog_img_resp">
                            <figure>
                                <img src="{% static 'images/ser_ser_1.jpg' %}" alt="img" class="img-responsive">
                            </figure>
                        </div>
                        <div class="blog_txt">
                            <h1><a href="#">Image Process</a></h1>
                            <p>Image Processing module is trained using a large dataset of images and it shows the percentage of Melanoma. You just need to upload a picture of affected area and it will show the prediction..</p>
                            <a href="#">Read More <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <!-- ser_blog section end-->
    <!--news wrapper start-->
    <div class="newsletter_wrapper med_toppadder80 med_bottompadder70">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 col-12">
                    <div class="newsletter_text wow fadeOut" data-wow-delay="0.5s">
                        <h3>Your First Step Towards Oral Health For Life Starts Here :</h3>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-6 col-6">
                    <div class="contect_btn_news">
                        <ul>
                            <li><a href="#">Enquiry</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--news wrapper end-->

<h1>{{ rep }}</h1>
    {% endblock %}